html {
	height: 100%;
}

body {
	margin: 0;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
	margin: 0.5rem;
}

h3 {
	margin-top: 0;
}

hr {
	border-color: #a74e94;
	background-color: #a74e94
}

b {
	font-weight: bold;
}

ul {
	margin: 0;
	text-align: left;
	list-style-type: circle;
}

li span {
	font-size: 0.7rem;
}

form {
	display: flex;
	width: 100%;
	margin: 0;
}

input.uppercase {
	text-transform: uppercase;
}

input[type="text"],
input[type="month"],
input[type="search"] {
	padding: 0.5rem 0;
	font-size: 1.3rem;
	line-height: 20px;
	width: 100%;
	border: 2px solid #ffffff;
	box-sizing: border-box;
	margin: 2px 0;
	font-family: 'Roboto Slab', serif;
}

input[type="text"]:disabled {
	background: #ececec;
	border: 1px solid #ececec;
	font-weight: 200;
}

input[type="text"]::-ms-clear {
	display: none;
	height: 0;
	width: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="radio"],
.styled-checkbox,
.inline-dob {
	cursor: pointer;
	opacity: 0;
}

input[type=radio]+label,
.styled-checkbox+label,
.inline-dob + div {
	cursor: pointer;
	margin-left: -20px;
}

input[type="radio"]+label:before,
.styled-checkbox+label:before,
.inline-dob + div::before {
	content: "";
	background: #ffffff;
	width: 34px;
	height: 34px;
	border: 1px solid #ececec;
	position: absolute;
	left: 0;
	cursor: pointer;
}

input[type="radio"]:focus+label:before,
.styled-checkbox:focus+label:before,
.inline-dob:focus + label::before {
	box-shadow: 0 0 0 3px #dcb9d2;
}

input[type="radio"]:checked+label:after,
.styled-checkbox:checked+label:after {
	content: "";
	border: 8px solid;
	position: absolute;
	width: 0;
	height: 0;
	left: 10px;
	top: 10px;
	cursor: pointer;
}

input[type="radio"]+label:before,
input[type="radio"]:checked+label:after {
	border-radius: 50%;
}

.styled-checkbox:checked+label:after {
	font-family: FontAwesome, sans-serif;
	content: "\f00c";
	top: 10px;
	left: 10px;
	border: 0;
}

input:focus,
select:focus {
	border: 2px solid #dcb9d2;
	outline: none;
}

select {
	width: 250px;
	height: 35px;
	background-color: white;
	margin-top: 0.5rem;
	border-radius: 0;
}

button {
	background-color: #a74e94;
	border: none;
	border-radius: 3px;
	box-shadow:0 3px 12px -1px rgba(0,0,0,.2);
	color: white;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1rem;
	min-height: 48px;
	min-width: 48px;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}

button:disabled {
	background-color: #aeaeae;
	color: #f9f9f9;
}

button:after,
.navigation li:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background-image: radial-gradient(circle, #ffffff 10%, transparent 10%);
	background-repeat: no-repeat;
	background-position: 50%;
	transform: scale(10,10);
	opacity: 0;
	transition: transform .5s, opacity 1s;
}

button:active:after,
.navigation li:active:after {
	transform: scale(0,0);
	opacity: .2;
	transition: 0s;
}

table {
	border-collapse: collapse;
	margin: 1rem 0;
	width: 100%;
}

label {
	width: 100%;
}

thead {
	border: solid 2px transparent;
	border-bottom-color: #a74e94;
	font-weight: 600;
	padding: 5px;
	margin: 5px;
}

td {
	border-top: 1px solid #a74e94;
	padding: 0.5rem;
	font-size: 1.2rem;
}

.age-col {
    width: 25%;
    padding-left: 0;
}

.dob-col {
    width: 35%;
}

.verified-col {
    width: 15%;
}

.remove-col {
    width: 10%;
    padding-right: 0;
}

strong {
	font-weight: 400;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.no-wrap {
	white-space: nowrap;
}

.logout-button {
	width: 125px;
	min-height: 35px;
	margin: 0 0 3rem 1rem;
}

.logo {
	width: 200px;
}

.warning p,
.error li,
.invalid-error {
	color: #d2232a;
}

.attention h3 {
	color: #a74e94;
}

.error li {
	list-style-type: none;
	margin: 5px;
	text-align: center;
}

input[type="text"].invalid,
.invalid+label:before {
	border: 2px solid #d2232a;
}
.message {
	font-weight: 200;
	font-size: 1.5rem;
	text-align: center;
	margin: 5px;
}

.header {
	height: 12%;
	box-shadow: 0 3px 12px -1px rgba(0,0,0,.15);
	display: flex;
	align-items: center;
	text-align: center;
	position: relative;
	justify-content: space-between;
}

.header-section {
	flex: 1;
}

.header ul {
	padding: 0;
	margin-right: 1rem;
	text-align: right;
}

.header li {
	line-height: 1.5rem;
	list-style-type: none;
}

#centre-select {
	display: inline;
}

#centre-select > select {
	width: auto;
}

.content {
	background-color: #f9f9f9;
	overflow: auto;
	height: 80%;
}

.no-margin {
	margin: 0;
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

.link {
	color: white;
	text-decoration: none;
}

.link-button {
	background-color: #a74e94;
	border-radius: 3px;
	box-shadow: 0 3px 12px -1px rgba(0,0,0,.2);
	box-sizing: border-box;
	color: white;
	font-size: 1rem;
	line-height: 48px;
	min-height: 48px;
	text-align: center;
	vertical-align: top;
}

.link-button:hover {
	text-decoration: underline;
}

.button-icon {
	font-size: 20px;
	padding-right: 0.5rem;
}

.link-button-small {
	display: inline-block;
	margin-left: 1rem;
	min-width: 120px;
}

.link-button-large {
	display: block;
	margin: 1rem;
	width: calc(100% - 2rem);
}

.inline-link-button {
	display: inline-block;
	margin-left: 1rem;
	min-width: 120px;
}

.inline-link-button:focus {
	outline: 4px solid #dcb9d2;
}

.sort-link-container {
	float: right;
}

.sort-link-container a {
	color: #000000;
	text-decoration: none;
}

.sort-link-container a:visited {
	color: #000000;
}

.disabled {
	background-color: #757575;
}

.disabled:hover {
	cursor: not-allowed;
	text-decoration: none;
}

.submit {
	background-color: #b9368b;
}


.block {
    display: block;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

/*

SUBNAV

*/

.subnav {
	width: 100%;
	box-shadow: 0 3px 12px -1px rgba(0,0,0,.15);
	position: relative;
	height: 8%;
	display: flex;
}

.subnav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	width: 100%;
}

.subnav i {
	padding: 0 0.5rem;
	text-decoration: none;
}

.subnav li {
	font-size: 1rem;
	list-style-type: none;
	display: flex;
	align-items: center;
}

.subnav .left,
.subnav .right {
	flex: 1;
}

.subnav .right {
	justify-content: flex-end;
}

/*

COOKIE NOTICE

*/

.cookie-notice {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #eeeeee;
	padding: 10px;
	font-size: 0.9rem;
}

.cookie-notice > button {
	min-width: 65px;
    margin-left: 5px;
    font-size: 0.9rem;
    min-height: 35px;
    height: 35px;
    padding: 0;
}

/*

LOGIN PAGE

*/

.login {
	height: 88%;
}

.login h2 {
	text-align: center;
	font-size: 2rem;
	padding-bottom: 1rem;
}

.login form {
	display: block;
}

.login form > div {
	height: 3rem;
	margin: 2rem 0;
}

.login .links {
	margin: 0;
	display: flex;
	justify-content: space-between;
}

.login-container {
	width: 50%;
	margin: 2rem auto;
}

.login-input {
	width: 100%;
	font-size: 2rem;
	box-sizing: border-box;
}

.login-input.email {
	margin-bottom: 1.5rem;
}

.login button {
	width: 100%;
	margin-bottom: 1rem;
}

.login label {
	font-size: 1rem;
}

.login a {
	color: #757475;
}

.login .reset-button {
	margin: 3rem 0 0 0;
}

.login .remember {
	margin-top: 3rem;
}

/*

DASHBOARD PAGE

*/

.navigation {
	height: 80%;
}

.navigation ul {
	display: inline-flex;
	flex-wrap: wrap;
	font-size: 1.2rem;
	justify-content: center;
	padding: 0;
	width: 100%;
}

.navigation li {
	padding: 1rem;
	min-height: 120px;
	display: grid;
	display: -ms-flexbox;
	-ms-flex-direction: column;
	margin: 1rem 0.5rem;
	font-family: 'Roboto Slab', serif;
	border-radius: 0.5rem;
	background-color: #a74e94;
	box-shadow: 0 3px 12px -1px rgba(0,0,0,.2);
	cursor: pointer;
	list-style-type: none;
	transform: translate3d(0, 0, 0);
	overflow: hidden;
	text-align: center;
}

.navigation img {
	width: 70px;
	max-width: 70px;
	height: 70px;
	max-height: 70px;
	margin: 0 auto;
}

.navigation a {
	color: white;
	flex: 0 0 33.3%;
	text-decoration: none;
}

.navigation a:hover {
	text-decoration: underline;
}

/*

REGISTER PAGE

*/

.col {
	width: 100%;
	background: #eeeeee;
	margin: 1rem;
	min-width: 25%;
	overflow: auto;
}

.col > div:first-child {
	background-color: #63c669;
	margin: 0;
	color: white;
	min-height: 60px;
	padding: 0.5rem 0;
	min-height: 60px;
	display: flex;
	display: -ms-flexbox;
	-ms-flex-direction: column;
	text-align: center;
	align-items: center;
}

.col > div:first-child > img {
	max-height: 60px;
	max-width: 50px;
	margin: 0 0.5rem;
}

.col > div:first-child > h2 {
	font-size: 1.4rem;
	margin: 0;
}

.col > div {
	margin: 1rem;
}

.col > form .alongside-container,
.col > form .single-container {
	margin: 1rem;
}

.col td {
	font-size: 1rem;
}

.col-container {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
}

.flex {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.small-button-container {
	display: flex;
	justify-content: center;
}

.small-button-container button {
	width: 30px
}

.small-button-container input {
	width: calc(100% - 53px);
}

.remove_field {
	float: right;
}

.user-control {
	position: relative;
	padding-left: 55px;
	margin: 1rem 0 2rem 0;
	min-height: 10px;
}

.long-button {
	display: block;
	margin: 1rem;
	width: calc(100% - 2rem);
}

.form-group {
	float: left;
}

.form-group > label {
	display: block;
}

.form-group > input {
	font-size: 1.5rem;
	min-width: 35px;
	max-width: 75px;
}

.form-group > #dob-year {
	min-width: 60px;
}

.add-button {
	margin: 2px;
}

.add-dob {
	min-height: 35px;
	min-width: 35px;
	margin-top: 18px;
	max-height: 35px;
	max-width: 35px;
}

.edit-button {
	position: absolute;
	right: 0;
	top: 0;
}

.remove-all-container {
	justify-content: center;
	margin: 1.25rem 0;
}

.remove-all-container i {
	padding: 0 0.5rem;
}

/*

EDIT PAGE

*/

.col.fit-height {
	height: calc(80vh - 2rem);
}

.col.short-height {
	height: 67vh;
}

.collect {
	background-color: #dff2ce;
}

.collect p {
	margin: 0 0.5rem;
}

.clickable-span {
	cursor: pointer;
	text-decoration: underline;
}

#leaving {
	width: calc(100vw / 3 - 2rem);
	height: 8vh;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	background-color: #eeeeee;
}

#leaving.expanded {
	height: 28vh;
}

.flex-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#more-family-info {
	list-style-type: none;
}

#more-family-info > ul {
	list-style-type: none;
	font-size: 0.8rem;
	padding-left: 1.5rem;
}

.remove {
	background-color: #d2232a;
	margin: 0.5rem 1rem;
}

.confirm-leaving {
	margin: 0 1rem 1rem 1rem;
}

.reason > * {
	display: block;
}

.confirmation-buttons button {
	min-height: 30px;
	width: 7.7rem;
}

.confirmation-buttons button:nth-child(2) {
	background-color: #000000;
}

#expandable p {
	margin-bottom: 10px;
}

.collapsed {
	display: none;
}

/*

SEARCH PAGE

*/

.control-container {
	display: flex;
	justify-content: space-between;
}

.search-control {
	flex: 1 0 40%;
}

.search-control input {
	margin: 5px 0 0 0;
}

.search-control input:focus {
	outline: 3px solid #dcb9d2;
	outline-offset: 0px;
}

.filter-control {
	flex: 0 1 30%;
	margin: 0 1rem;
}

.filter-control select {
	border: 2px solid #757475;
	border-radius: 3px;
	font-family: "Roboto Slab", serif;
	font-size: 1.3rem;
	height: 64px;
	margin: 5px 0 0 0;
	padding: 1rem;
	width: 100%;
}

.filter-control select:focus {
	outline: 3px solid #dcb9d2;
	outline-offset: 0px;
}

.checkbox-control {
	display: flex;
	flex: 0 1 20%;
	margin-top: 24px;
	padding-left: 55px;
	position: relative;
}

.checkbox-control label::before {
	border: 2px solid #757475;
	border-radius: 3px;
}

.search-button {
	flex: 0 0 64px;
	height: 64px;
	margin-top: 24px;
}

.search-button:focus {
	outline: 3px solid #dcb9d2;
	outline-offset: 0px;
}

.search-button > img {
	max-height: 40px;
}

.search {
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 2rem 10% 0 10%;
}

.search table button {
	width: 6rem;
	margin-left: 1rem;
}

.search table tr.inactive {
	color: #757575;
}

.search-actions {
	width: 100%;
	display: flex;
}

.search-actions input {
	padding: 1rem;
	border: 2px solid #757475;
	border-radius: 3px;
}

.secondary_info {
	color: #757475;
	font-size: 1rem;
}

.pagination {
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	margin-bottom: 2rem;
}

.pagination a,
.subnav a {
	color: black;
	padding-right: 1rem;
}

/*

PRIVACY PAGE

*/

.privacy {
	width: 90%;
	margin: 5%;
}

.privacy > div {
	background-color: #f9f9f9;
	padding: 2%;
	margin: 2%;
}

.privacy h2 {
	text-align: center;
	margin-bottom: 5%;
}

.privacy a {
	color: #a74e94;
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
	.add-dob {
		min-height: 44px;
		min-width: 44px;
		margin-top: 22px;
		max-height: 44px;
		max-width: 44px;
		padding: 0;
	}
}

/*

HISTORY PAGE

*/

.history {
	display: inline-flex;
	width: 100%;
}

.history > div {
	width: 15rem;
	margin: 5% 2%;
	text-align: center;
}

.history .outer {
	margin: 5% 5% 0 0;
	visibility: hidden;
	width: 70%;
}

.history th,
.history td {
	font-size: 1.2rem;
	text-align: center;
	border: none;
}

.history td[colspan="3"] {
	padding: 0 2rem;
	background: #eeeeee;
	border-top: 1px solid #a74e94;
	pointer-events: none;
}

.history td > div {
	display: flex;
}

.history .week-row {
	border-top: 1px solid #a74e94;
}

.history .bundle-table td {
	text-align: left;
}

.history .show {
	visibility: visible;
}

.rotate {
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}
.rotate.up {
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}

.content-warning {
	color: #d2232a;
	margin: 5%;
	font-size: 1.25rem;
}

/*

PAYMENT PAGE

*/

.payment {
	height: 88%;
}

.payment.content table {
	margin: 3rem auto;
	visibility: visible;
	width: 70%;
}

.payment th {
	width: 33.3%;
}

.payment td {
	font-size: 1.2rem;
	text-align: center;
}

.payment button {
	margin: auto;
	padding: 0 2rem;
}

.status {
	padding: 5px;
	border-radius: 3px;
}

.requested {
	background-color: #f8c28b;
}

.paid {
	background-color: #dff2ce;
}

/*

VOUCHER PAGES

*/

.allocation .alongside-container {
	align-items: flex-end;
	display: flex;
	justify-content: space-between;
}

.alongside-container {
	display: flex;
}

.alongside-container > div,
.alongside-container > label {
	width: 50%;
	margin-right: 2%;
}

.single-container {
	align-items: flex-end;
	display: flex;
	width: 100%;
}

.single-container > label {
	margin-right: 2%;
}

.short-button {
	width: 80%;
	margin: 3% 10%;
}

.voucher-container {
	margin: 1rem 7rem;
}

.add-button {
	max-height: 48px;
	max-width: 48px;
}

.collection-section {
	display: none;
}

.v-spaced {
	margin: 2rem 0;
}

.vh-spaced {
	margin: 2rem 1rem;
}

.emphasised-section {
	font-size: 1.15rem;
	margin-bottom: 2rem;
}

.number-circle {
	background-color: #a74e94;
	border-radius: 50%;
	color: white;
	display: inline-block;
	font-weight: bold;
	height: 2.2rem;
	line-height: 2.2rem;
	margin-left: 0.2rem;
	width: 2.2rem;
}

.col .alert-message {
	align-items: stretch;
	display: flex;
	margin-top: 0;
	min-height: 2rem;
}

.alert-message.error {
	background-color: #f3c3c3;
}

.alert-message.warning {
	background-color: #f8c28b;
}

.alert-message.success {
	background-color: #d8ebdc;
	border: 1px solid #3f9b54;
	border-radius: 3px;
	display: flex;
	flex-wrap: wrap;
	margin: 1rem 10%;
}

.alert-message p {
	color: #000000;
	flex: 0 0 auto;
	line-height: 2rem;
	margin: 0;
	padding: 0 0.5rem;
}

.alert-message.success p {
	align-self: center;
}

.alert-message.success span {
	font-weight: 700;
}

.icon-container {
	flex: 0 0 3rem;
}

.icon-container.error {
	background-color: #d2232a;
}

.icon-container.warning {
	background-color: #f3902f;
}

.icon-container.success {
	background-color: #3f9b54;
	padding: 6px 12px;
	line-height: 1;
	border: 1px solid #3f9b54;
}

.icon-container i {
	color: white;
	line-height: 2rem;
	text-align: center;
	width: 100%;
}

.icon-container.success i {
	color: #d8ebdc;
	font-size: 2.5rem;
	padding: 0.5rem;
	width: inherit;
}

.slide-in {
	display: block;
	animation-duration: 1s;
	animation-name: slidein;
}

.pulse {
	animation-duration: 1s;
	animation-name: pulse;
}

.fade-back {
	display: none;
}

.pick-up {
	width: 100%;
}

.pick-up > div {
	display: flex;
	margin: 1rem 2rem;
}

.pick-up > div > div {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.pick-up i {
	font-size: 2.5rem;
	width: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 2rem;
}

.pick-up select,
.pick-up input {
	width: 100%;
	max-width: 200px;
}

.pick-up input {
	margin-top: 0.5rem;
	border: 1px solid #a6a6a6;
	max-width: 180px;
	padding: 0.5rem;
	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.delete-button {
	min-height: 34px;
	min-width: 34px;
}

@keyframes slidein {
	from {
		transform: translateX(150%);
	}

  	to {
    	transform: translateX(0%);
	}
}

@keyframes pulse {
	0% { transform: scale(1) }
	50% { transform: scale(1.1) }
	100% { transform: scale(1) }
}

/* new stuff */
.secondary_info {
	color: #757475;
	font-size: 1rem;
}
/*

ADD CHILD FORM PARTIAL

*/

.dob-input-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

.dob-input {
    flex: 0 1 auto;
}

.dob-input > label {
    margin-bottom: 2px;
}

#dob-month {
    border: 2px solid #ffffff;
    font-size: 1.5rem;
    margin-right: 1rem;
    text-align: center;
    width: 3ch;
}

#dob-year {
    border: 2px solid #ffffff;
    font-size: 1.5rem;
    margin-right: 3rem;
    text-align: center;
    width: 5ch;
}

#dob-verified {
    margin: 0;
    width: 34px;
}

#dob-verified + label {
    display: inline-block;
    height: 28px;
    margin: 0;
    margin-left: 5px;
    width: auto;
}

#dob-verified + label::before {
    bottom: 0;
    border: 0;
}

.dob-input.relative {
    align-self: flex-end;
    margin-top: 1.5rem;
}

#dob-verified:checked + label::after {
    top: 3px;
}

.inline-dob {
    position: absolute;
    top: 20px;
}

.inline-dob + label::before {
    top: 13px;
}

.inline-dob + label::before {
    top: 14px;
}

.inline-dob:checked + label:after {
    font-family: FontAwesome, sans-serif;
    content: "\f00c";
    top: 24px;
    left: 10px;
}
