# Cache files
*.swp
.DS_STORE
.php-cs-fixer.cache
.php_cs.cache
.phpstorm.meta.php
.phpunit.result.cache
/.phpunit.cache
/_ide_helper_models.php
Thumbs.db
_ide_helper.php

# Logs
*.log

# IDEs
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Dependencies
/node_modules
/vendor

# Build
/public/build
/public/css
/public/fonts
/public/hot
/public/images/
/public/js
/public/store/css/datepicker.css
/resources/fonts/*
build
npm-debug.log

# Testing & Dusk
arc_test_file_*
coverage
tests/Browser/console/
tests/Browser/screenshots/

# Storage
app/local
/public/storage
/storage

# Homestead
/.vagrant
Homestead.json
Homestead.yaml

# Configs
.env
.env.backup
.env.dusk.local
.env.local
.env.production
.phpactor.json
.prettierignore
/auth.json
passport.install

# Docker
.docker-installed

