includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 2

    ignoreErrors:
#       - '#^Result of method.*is used.*$#'
#       - '#^Result of static method.*is used.*$#'
#      - '#PHPDoc tag @property#'
#       - '#Variable \$testing_string might not be defined#'
#       - '#^Method App.*ancestors.*$#'
#       - '#^.*descendantsAndSelf.*$#'

    excludePaths:
#        - ./*/*/FileToBeExcluded.php
#       - ./vendor
#       - ./node_modules
#       - ./storage

#    checkMissingIterableValueType: false