// Variables
@import 'variables';

// Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

html,
body,
#app {
  height: 100%;
  background-color: $arc_bg;
  color: $arc_copy;
}

a {
  color: $arc_link;
  &:active,
  &:hover {
    color: $arc_rose;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings;
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.pagination {
  > li {
    &.active > span {
      border: none;
      background-color: $arc_rose;
      &:hover {
        background-color: lighten($arc_rose, 10%);
      }
    }
    > a {
      color: $arc_rose;
      &:hover {
        color: $arc_copy;
      }
    }
  }
}

.styled-form {
  margin-top: 2em;

  select {
    border: 2px solid $arc_border;
    background-color: $arc_white;
    border-radius: 3px;
    height: 48px;
    font-size: 1.25em;
    line-height: 20px;
    padding: 0 10px;
    &:focus {
      border: 2px solid $arc_focus;
      outline: none;
    }
    // get rid of pale yellow background in input fields
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $arc_white inset;
    }
  }
  .select {
    margin-bottom: 2em;
  }

  textarea {
    border: 2px solid $arc_border;
    background-color: $arc_white;
    border-radius: 3px;
    font-size: 1em;
    margin-bottom: 2em;
    line-height: 20px;
    padding: 0 10px;
    &:focus {
      border: 2px solid $arc_focus;
      outline: none;
    }
  }

  .checkbox-group {
    position: relative;
    padding-left: 55px;
    margin: 0.5rem 0 2rem 0;
    min-height: 10px;

    > input {
      cursor: pointer;
      opacity: 0;

      &:checked + label:after {
        content: '✔';
        position: absolute;
        top: 6px;
        left: 12px;
        border: 0;
      }
    }
    > label {
      cursor: pointer;
      margin-left: -20px;

      &:before {
        content: '';
        background: #ffffff;
        width: 34px;
        height: 34px;
        border: 1px solid #ececec;
        position: absolute;
        left: 0;
        cursor: pointer;
      }
    }
  }

  .disable-checkbox {
    position: relative;
    > input {
      cursor: pointer;
      opacity: 0;

      &:checked + label:after {
        content: '✔';
        position: absolute;
        top: 2.6em;
        left: 0.9em;
        border: 0;
      }
    }
    > label {
      cursor: pointer;
      margin-left: 3em;
      &:before {
        content: '';
        background: #ffffff;
        width: 2.5em;
        height: 2.5em;
        border: 1px solid #ececec;
        position: absolute;
        left: 0;
        cursor: pointer;
      }
    }
  }

  input {
    margin-bottom: 1em;
    border: 2px solid $arc_border;
    border-radius: 3px;
    &[type='text'],
    &[type='password'],
    &[type='number'],
    &[type='tel'],
    &[type='email'],
    &[type='date'] {
      min-height: 48px;
      font-size: 1.25em;
      line-height: 20px;
      padding: 0 10px;
    }
    &:focus {
      border: 2px solid $arc_focus;
      outline: none;
    }
    // get rid of pale yellow background in input fields
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px $arc_white inset;
    }
    // Uppercases all text within input - e.g. voucher prefix
    &.uppercase {
      text-transform: uppercase;
    }
  }
  button {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    background-color: $arc_rose;
    color: $arc_white;
    display: block;
    text-align: center;
    height: 48px;
    font-weight: bold;
    border: 0;
    border-radius: 3px;
    padding: 0 3em;
    box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.2);
    &:focus {
      outline: 0;
    }
    &:after {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background-image: radial-gradient(circle, #fff 10%, transparent 10%);
      background-repeat: no-repeat;
      background-position: 50%;
      transform: scale(10, 10);
      opacity: 0;
      transition: transform 0.5s, opacity 1s;
    }
    &:active:after {
      transform: scale(0, 0);
      opacity: 0.2;
      transition: 0s;
    }
    &:disabled {
      background-color: lighten($arc_rose, 15%);
      color: $arc_white;
    }
    &.updateTrader {
      margin-top: 2em;
    }
    &#add-user {
      align-self: center;
      margin-top: 0.6em;
    }
  }
  // remove dotted outline/borders in Firefox
  button:focus,
  a:focus,
  a:active,
  button::-moz-focus-inner,
  input[type='button']::-moz-focus-inner,
  input[type='submit']::-moz-focus-inner {
    outline: none;
    border: 0;
  }
  .horizontal-container {
    display: flex;
    flex-wrap: wrap;

    > div {
      display: flex;
      flex-direction: column;
      margin-right: 2rem;
      width: 26rem;
    }
  }
}

div.callout {
  background-color: $arc_gray;
  border: 2px solid $arc_border;
  margin-top: 1em;
  padding: 0.8em;
}

span.user-array {
  flex: 100%;
  > input {
    margin-right: 0.8em;
  }
  > div {
    display: inline-block;
  }
}

.link-button {
  background-color: #a74e94;
  border-radius: 3px;
  box-shadow: 0 3px 12px -1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: white;
  font-size: 1.5rem;
  font-style: normal;
  line-height: 2.5rem;
  min-height: 2.5rem;
  text-align: center;
  vertical-align: top;
}

.download-list {
  display: inline-block;
  padding: 0.8em;
}

.navbar {
  background-color: $arc_white;
  margin-bottom: 0;
  border: none;
  min-height: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  .navbar-header {
    margin-left: 0;
  }
  .navbar-nav > li > a {
    font-weight: bold;
    color: #656565;
  }
  .logo {
    height: 50px;
  }
  .container {
    padding: 2em;
  }
}

.container.login {
  margin-top: 3em;
}

.panel-body {
  background-color: $arc_white;
}

#container {
  display: flex;
  min-height: 100%;
}

#sidebar {
  flex: 0 0 300px;
  font-weight: 600;
  background-color: $arc_white;
  border-right: 1px solid #ededed;
  ul {
    padding-left: 0;
    margin-top: 1em;
    li {
      color: #656565;
      display: block;
      padding: 1em 2em;
      &:hover,
      &:active {
        background-color: #f5f5f5;
      }
    }
    span {
      padding-right: 10px;
    }
  }
}

#main-content {
  background-color: $arc_bg;
  flex: 1;
  padding: 2em 4em;
}

.inactive {
  color: #757575;
  font-style: italic;
}

.table-list {
  margin: 0;
  list-style: none;
  padding: 0;
}

.sortable.table {
  span {
    background: transparent;
    border: 0;
    float: right;
  }
}

@media (min-width: 992px) {
  .container.login {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: initial;
  }
}

.scotlandCheckbox {
  width: 40px;
  height: 40px;
}
